---
layout: default
---

<div class="p-4 mb-4 bg-light-index rounded-3 shadow-sm">
  <div class="container-fluid py-3">
    <h1 class="display-5 fw-bold">Welcome to my personal blog!</h1>
    <p class="col-md-10 fs-4">
      I'm Anis. Here you can find my latest posts.
    </p>
    <p class="fs-6 text-muted">
      Check out my <a href="/about/" class="text-primary font-weight-bold">About Page</a> to learn more about my journey, or browse by <a href="/categories/" class="text-primary">Categories</a>.
    </p>
  </div>
</div>

<hr class="my-4">


{{ content }}
